<div class="container-fluid">
  <div [ionViewSwitch]="dataState">

    <div *ionViewResolving class="spinner-container">
      <nd-spinner-lite active></nd-spinner-lite>
    </div>

    <ion-error *ionViewError [errorCode]="errorCode" action="Refresh" (onAction)="refreshContext()"></ion-error>
    <div *ionViewResolved>
      <div *ngIf="innovationContributingToSales.data && innovationContributingToSales.data.length > 0">
        <div ion-v1-responsive class="innovation-contribution">
          <svg ion-v1-xyplot [dataset]="innovationContributingToSales.data" key="chipIndex" paddingVertical="40" name="graph-container">
            <g ion-v1-row [fixedHeight]="70" [background]="rowColor" paddingInner="0.09" paddingTop="40" (handleClick)="rowHandleClick($event)">
              <g ion-v1-section flex="1" paddingHorizontal="15" name="data-legend-column">
                <g ion-v1-rowlegend paddingLeft="12" paddingInner="0.75" (handleClick)="rowHandleClick($event)">
                  <g ion-v1-hint placement="bottom" [maxWidth]="300"></g>
                </g>
              </g>
              <g #chartsection ion-v1-section flex="3" name="data-chart-column">
                <g ion-v1-column titleDy="28" [columnArray]="columnArray" [showBarInMobile]="false">
                  <g ion-v1-grid axis="x" [stroke]="gridColor" name="scale-grids" />
                  <g ion-v1-bar [scalefactor]="scalefactor" barHeight="8" [hasGrowthScale]="true" minWidth="120" growthTextDyBand="-4" [growthColors]="growthColors"
                    paddingOuter="1" paddingInner="0.72" [colors]="chartColors" (handleClick)="rowHandleClick($event)" />
                </g>

              </g>
            </g>

          </svg>
          <div class="legends" *ngIf="showLegend">
            <ion-growth-legend [title]="legendTitle" [color]="legendColors">
            </ion-growth-legend>
          </div>
        </div>

        <!-- TO DO : Uncomment new refactored code after taking confirmation for the new requirements -->
        <!-- <div ion-responsive>
          <ion-xyplot [padding]="2" [paddingTop]="40" responsive>
            <ion-row [fixedRowHeight]="innovationPlotConfig.fixedRowHeight" (clickEvent)="rowHandleClick1($event)">
              <ng-container *ngFor="let data of innovationContributingToSales.data; let index = index;">
                <ion-section>
                  <ion-section [border]="innovationPlotConfig.borderRight" [flex]="2">
                    <ion-row-text [content]="data.title" [extra]="[data.subtitle]"></ion-row-text>
                  </ion-section>
                  <ion-section [border]="innovationPlotConfig.borderRight" [flex]="1" firstLine="Total Sales" [headerPaddingDown]="27">
                    <ion-row-text [content]="data.display[0][0]" textAlign="right" [paddingHorizontal]="8" [millionFormat]="true" formatType="million" [titleFont]="innovationPlotConfig.titleFont"></ion-row-text>
                  </ion-section>
                  <ion-section [border]="innovationPlotConfig.borderRight" [flex]="1" firstLine="Innovation Sales" [headerPaddingDown]="27">
                    <ion-row-text [content]="data.display[1][0]" textAlign="right" [paddingHorizontal]="8" [millionFormat]="true" formatType="million" [titleFont]="innovationPlotConfig.titleFont"></ion-row-text>
                  </ion-section>
                  <ion-section [flex]="4" firstLine="Amount of Sales from Innovation" [headerPaddingDown]="27">
                    <ion-bar [colors]="innovationPlotConfig.chartColors" [fixedbarHeight]="8" [value]="data.value[2]" [display]="data.display[2]"></ion-bar>
                    <ion-xyaxes [tickValues]="[20, 40, 60, 80]" [stroke]="innovationPlotConfig.xaxisStroke"></ion-xyaxes>
                  </ion-section>
                </ion-section>
              </ng-container>
            </ion-row>
          </ion-xyplot>
        </div>
 -->
      </div>
    </div>
  </div>
</div>