@import "../../../../styles/breakpoints";

.panel-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.panel {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  left: 0;
  transition: width .3s ease;
}

.nav-option {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  .hide {
    display: none;
  }
}

.items, .item-details {
  overflow-y: auto;
}

@include media-breakpoint-down(md) {
  .panel{
    transition-property: left;
  }
  .slide-left {
    left: -100%;
  }
  .hide-nav {
    display: none !important;
  }
  .show-nav {
    display: flex !important;
  }
}

@include media-breakpoint-up(lg) {
  .slide-left {
    &.item-details {
      width: 32%;
    }
    &.items {
      width: 68%;
    }
  }
}
.text-center{
  text-align: center;
}
.spinner-container{
  top: 40%;
}
.close-div{
  padding: 6px;
}