<div class="container-fluid mb-2">
  <div [ionViewSwitch]="dataState">
    <div class="spinner-container" *ionViewResolving>
      <nd-spinner-lite active></nd-spinner-lite>
    </div>
    <ion-error *ionViewError [errorMessage]="error" action="Refresh" (onAction)="refreshContext()"></ion-error>

    <!-- TODO: Remove commented code once the requirements confirmed -->
    <!-- <div *ionViewResolved>
      <div class="row">
        <div class="col-md-6">
          <h5 class="overlay-title">Average Sales Per Item</h5>
          <h6 class="overlay-subtitle">&nbsp;</h6>
          <div *ngIf="itemPerformance.averagedata && itemPerformance.averagedata.length > 0">
            <div ion-v1-responsive class="item-performance-average">
              <svg ion-v1-xyplot [dataset]="itemPerformance.averagedata" key="chipIndex" name="graph-container">
                <g ion-v1-row [fixedHeight]="70" [background]="rowColor" paddingInner="0.09" (handleClick)="rowHandleClickAvg($event)">
                  <g ion-v1-section flex="1" paddingHorizontal="15" name="data-legend-column">
                    <g ion-v1-rowlegend paddingLeft="12" paddingInner="0.75" (handleClick)="rowHandleClickAvg($event)">
                      <g ion-v1-hint placement="bottom" [maxWidth]="300"></g>
                    </g>
                  </g>
                  <g #chartsection ion-v1-section flex="3" name="data-chart-column">
                    <g ion-v1-bar [scalefactor]="scalefactoravg" paddingOuter="0.5" paddingInner="0.72" barHeight="8" [colors]="leftChartColors"
                      (handleClick)="rowHandleClickAvg($event)" [millionFormat]="true" />
                    <g ion-v1-grid axis="x" [stroke]="gridColor" [tickValues]="gridValues2" name="scale-grids" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="legends my-5">
              <ion-legend [title]="titles[i]" [outline]="false" [color]="color" class="mr-4" *ngFor="let color of leftChartColors; let i = index">
              </ion-legend>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="overlay-title">Item Performance Gap Innovation vs. Total</h5>
          <h6 class="overlay-subtitle">Innovation sales per item divided by total sales per item.</h6>
          <div *ngIf="itemPerformance.gapdata && itemPerformance.gapdata.length > 0">
            <div ion-v1-responsive class="item-performance-gap">
              <svg ion-v1-xyplot [dataset]="itemPerformance.gapdata" key="chipIndex" name="graph-container">
                <g ion-v1-row [fixedHeight]="70" [background]="rowColor" paddingInner="0.09" (handleClick)="rowHandleClickGap($event)">
                  <g ion-v1-section flex="1" paddingHorizontal="15" name="data-legend-column">
                    <g ion-v1-rowlegend paddingLeft="12" paddingInner="0.75" (handleClick)="rowHandleClickGap($event)">
                      <g ion-v1-hint placement="bottom" [maxWidth]="300"></g>
                    </g>
                  </g>
                  <g #chartsection ion-v1-section flex="3" headingBottomPadding="10" name="data-chart-column">
                    <g ion-v1-bar [scalefactor]="scalefactorgap" paddingOuter="1" paddingInner="0.72" barHeight="8" [colors]="rightChartColors"
                      (handleClick)="rowHandleClickGap($event)" />
                    <g ion-v1-grid axis="x" [stroke]="gridColor" [tickValues]="gridValues2" name="scale-grids" />
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div *ionViewResolved>
      <div class="row">
        <div class="col-md-6">
          <h5 class="overlay-title">Average Sales Per Item</h5>
          <h6 class="overlay-subtitle">&nbsp;</h6>
          <div *ngIf="itemPerformance.averagedata && itemPerformance.averagedata.length > 0">
            <div ion-responsive class="item-performance-average">
              <ion-xyplot responsive>
                <ion-row [fixedRowHeight]="itemPerformanceConfig.fixedRowHeight" (clickEvent)="rowHandleClickAvg($event)">
                  <ng-container *ngFor="let data of itemPerformance.averagedata; let index = index;">
                    <ion-section [sectionData]="data" [disabled]="data.isClickable">
                      <ion-section [border]="itemPerformanceConfig.borderRight" [flex]="0.7">
                        <ion-row-text ion-hint placement="bottom" [maxWidth]="itemPerformanceConfig.toolTipWidth" [content]="data.title" [extra]="[data.subtitle]"
                          textWraptype="twoLine" [textOpacity]="!(data.value.length>0)" [legendTooltip]="data.legendTooltip"
                          [wrapLegendWithHint]="data.wrapLegendWithHint"></ion-row-text>
                      </ion-section>
                      <ion-section [flex]="2">
                        <ion-bar [colors]="leftChartColors" [fixedbarHeight]="itemPerformanceConfig.fixedbarHeight" [value]="data.value" [display]="data.display?data.display:[]"
                          [millionFormat]="true" [textRightPadding]="itemPerformanceConfig.textRightPadding"></ion-bar>
                        <ion-xyaxes [tickValues]="gridValues2" [stroke]="itemPerformanceConfig.xaxisStroke"></ion-xyaxes>
                      </ion-section>
                    </ion-section>
                  </ng-container>
                </ion-row>
              </ion-xyplot>
            </div>
            <div class="legends my-5">
              <ion-legend [title]="titles[i]" [outline]="false" [color]="color" class="mr-4" *ngFor="let color of leftChartColors; let i = index">
              </ion-legend>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="overlay-title">Item Performance Gap Innovation vs. Total</h5>
          <h6 class="overlay-subtitle">Innovation sales per item divided by total sales per item.</h6>
          <div *ngIf="itemPerformance.gapdata && itemPerformance.gapdata.length > 0">
            <div ion-responsive class="item-performance-gap">
              <ion-xyplot responsive>
                <ion-row [fixedRowHeight]="itemPerformanceConfig.fixedRowHeight" (clickEvent)="rowHandleClickGap($event)">
                  <ng-container *ngFor="let data of itemPerformance.gapdata; let index = index;">
                    <ion-section [sectionData]="data" [disabled]="data.isClickable">
                      <ion-section [border]=" itemPerformanceConfig.borderRight " [flex]="0.7 ">
                        <ion-row-text ion-hint placement="bottom " [maxWidth]="itemPerformanceConfig.toolTipWidth" [content]="data.title " [extra]="[data.subtitle]"
                          textWraptype="twoLine" [textOpacity]="!(data.value.length>0)" [legendTooltip]="data.legendTooltip"
                          [wrapLegendWithHint]="data.wrapLegendWithHint"></ion-row-text>
                      </ion-section>
                      <ion-section [flex]="2">
                        <ion-bar [colors]="rightChartColors" [fixedbarHeight]="itemPerformanceConfig.fixedbarHeight" [value]="data.value" [display]="data.display?data.display:[]"
                          [textRightPadding]="itemPerformanceConfig.textRightPadding"></ion-bar>
                        <ion-xyaxes [tickValues]="gridValues2" [stroke]="itemPerformanceConfig.xaxisStroke"></ion-xyaxes>
                      </ion-section>
                    </ion-section>
                  </ng-container>
                </ion-row>
              </ion-xyplot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>