@import "../../../styles/variables";
@import  "../../../styles/breakpoints";

.legends {
  display: inline-flex;
}
.item-performance{
  margin-bottom: 24px;
}

.overlay-title {
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  color: $nielsen-gray-900;
  line-height: 18px;
  margin-top: 1px;
  margin-bottom: 0px;
}

.overlay-subtitle {
  color: $nielsen-gray-500;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  margin-bottom: 11px;
  margin-top: 0px;
}
