@import "../../../styles/variables";

ion-edit-profiler{
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  .metadata-defaults {
    color: $nielsen-gray-900;
    font-size: $font-size-default;

    .strong {
      font-weight: $font-weight-default;
    }
  }
}
