<div [ionViewSwitch]="dataState" class="full-height">
  <div *ionViewResolving>
    <ion-spinner></ion-spinner>
  </div>
  <ion-error *ionViewError [errorCode]="errorCode"></ion-error>
  <ion-page-not-found *ionViewInvalid></ion-page-not-found>
  <div *ionViewResolved class="full-height">
    <nd-toolbar class="nd-toolbar">
      <div slot="top" class="toolbar ml-2">
        <span class="strong metadata-defaults ellipsis" *ngIf="projectInfo">
          <span class="strong">{{projectInfo.factType.name}}</span> of
          <span class="strong" id="contextCategoryText">{{category | initcaps}}</span> in
          <span class="strong">{{country}}</span>
          (<span class="strong">{{projectInfo.markets.name}}</span>) for
          <span class="strong">{{projectInfo.timePeriod.name}}</span>
          <span class="strong"> (until {{(projectInfo.timePeriod.lastPeriodDate | ordinalDate:'dayFirst')}})</span> with
          <span class="strong">{{isCustomInnovationDefinition ? 'Custom' : 'Default'}}</span> innovation definition
        </span>
        <div class="ml-1">
          <nd-icon-button icon="nlsn:edit_fill" (click)="onSlideEditModal()"></nd-icon-button>
        </div>
      </div>
    </nd-toolbar>

    <nd-tooltip position="bottom" class="nd-tooltip" for="contextCategoryText" *ngIf="showToolTip">{{categoryToolTip | initcaps}}</nd-tooltip>

    <ion-slide-down-modal #slideEditModal [fullScreenMode]="true" [showModalOptions]="true" [disabled]="disabled" class="smooth-scroll">
      <div class="row mx-0 my-0" modal-content>
        <ion-edit-profiler class="mx-5" *ngIf="projectInfo" #editProfiler [projectInfo]="projectInfo" (updateMetadataDefaults)="updateMetadataDefaults($event)"
          (enableApplyButton)="enableApplyButton($event)">
        </ion-edit-profiler>
      </div>
    </ion-slide-down-modal>

    <nd-tabs selected="{{selectedTab}}" secondary [scrollable]="false">
      <ng-container *ngFor="let tab of tabPages; let i = index">
        <nd-tab [routerLink]="tab.route"
                routerLinkActive="active"
                *ngIf="tab.featureEnabled">
          {{tab.label}}
        </nd-tab>
      </ng-container>
    </nd-tabs>
    <router-outlet></router-outlet>
  </div>
</div>
