@import "../../../../styles/variables";
@import "../../../../styles/breakpoints";

.middle{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 12%;
  background: $nielsen-gray-50;
  @include media-breakpoint-between(xs, md){
    padding-top: 30%;
  }
}
.overlay-title {
  color: $nielsen-gray-500;
}  
.label {
  color: $nielsen-gray-800;
}
