<div>
    <nd-toolbar class="nd-toolbar">
      <nd-tabs no-divider [scrollable]="false" slot="top" [selected]="activeTabIndex">
        <ng-container *ngFor="let tab of tabPages; let i = index">
          <nd-tab [routerLink]="tab.route"
                  routerLinkActive="active"
                  *ngIf="tab.featureEnabled">
            {{tab.label}}
          </nd-tab>
        </ng-container>
      </nd-tabs>
    </nd-toolbar>
    <ion-help-message
      [icon]="icon"
      [primaryMessage]="actionTitle"
      [secondaryMessage]="linkTitle"
      (change)="showSlideInModal()">
    </ion-help-message>
</div>
  
  
  <ion-slide-down-modal #slideDown>
  
    <div class="pdm-mapping" modal-content [ionViewSwitch]="dataState">
      <nd-spinner-lite *ionViewResolving active></nd-spinner-lite>
      <ion-error [errorCode]='errorCode' *ionViewError></ion-error>
      <div *ionViewResolved class="row full-width">
        <div class="col-md-5">
          <nd-dropdown-menu justify-width (iron-select)="onSelection('country', $event)" placeholder="Choose a Country">
            <nd-listbox slot="dropdown-content" attr-for-selected="value" [selected]="selectedCountry">
              <nd-item *ngFor="let country of countries.data" [attr.value]="country.value">{{country.name}}</nd-item>
            </nd-listbox>
          </nd-dropdown-menu>
        </div>
        <div class="col-md-5">
          <nd-dropdown-menu justify-width (iron-select)="onSelection('category', $event)" [disabled]="!selectedCountry" placeholder="Pick a Category">
            <nd-listbox slot="dropdown-content" attr-for-selected="value" [selected]="selectedCategory">
              <nd-item *ngFor="let category of categories" [attr.value]="category.value">{{category.name | titlecase}}</nd-item>
            </nd-listbox>
          </nd-dropdown-menu>
        </div>
        <div class="col-md-2 mr-auto">
          <nd-button name="get-start-btn" (click)="getStarted()" [disabled]="!selectedCountry">
            Get Started
          </nd-button>
        </div>
      </div>
  
    </div>
  
  </ion-slide-down-modal>
  