@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/table-row";
@import "~bootstrap/scss/tables";

// overriding bootstrap styles
.table {
  border-spacing: 0;
  th, td {
    text-align: right;
    font-size: $font-size-default;
    border-top: none;
    border-bottom: 1px solid $nielsen-gray-300;
    vertical-align: middle;
  }
  thead th {
    border-bottom: 1px solid $nielsen-gray-300;
  }
  td {
    max-width: 0;
    cursor: pointer;
    color: $nielsen-gray-800;
  }
  tbody tr {
    &:hover {
      background-color: $nielsen-blue-50;
    }
  }
}
.table-responsive {
  display: table;
}
