@import "variables";

.overlay-title {
  font-size: $font-size-large;
  font-weight: $font-weight-default;
  color: $nielsen-gray-800;
}

.label {
  font-size: $font-size-small;
  font-weight: $font-weight-default;
  color: $nielsen-gray-500;
}

.sub-header {
  font-size: $font-size-medium;
  font-weight: $font-weight-default;
  color: $nielsen-gray-900;
}