@import "../../../styles/variables";

.time-period-list {
  width: 100%;

  nd-item{
    border-top: 1px solid $nielsen-gray-200;
  }
}

.time-period-label{
  pointer-events: none;
  font-size: $font-size-default;
  font-weight: $font-weight-bold;
  border-top: 1px solid $nielsen-gray-200;
}
