<!-- Commented Old Graphs and Integrated Refactored Graphs -->
<div class="container-fluid mb-2">

  <div [ionViewSwitch]="dataState">
    <div class="spinner-container" *ionViewResolving>
      <nd-spinner-lite active></nd-spinner-lite>
    </div>
    <ion-error *ionViewError [errorCode]="errorCode" action="Refresh" (onAction)="refreshContext()"></ion-error>
    <!-- <div *ionViewResolved>
      <div class="row">
        <div class="col-md-6">
          <h5 class="overlay-title">Market Share and Innovation Share</h5>
          <div *ngIf="marketShareAndInnovationShare.data && marketShareAndInnovationShare.data.length > 0">
            <div ion-v1-responsive class="market-share">
              <svg ion-v1-xyplot [dataset]="marketShareAndInnovationShare.data" key="chipIndex" name="graph-container">
                <g ion-v1-row [fixedHeight]="70" [background]="rowColor" paddingInner="0.09" (handleClick)="rowHandleClick($event)">
                  <g ion-v1-section flex="1" paddingHorizontal="15" name="data-legend-column">
                    <g ion-v1-rowlegend paddingLeft="12" paddingInner="0.75" (handleClick)="rowHandleClick($event)">
                      <g ion-v1-hint placement="bottom" [maxWidth]="300"></g>
                    </g>
                  </g>
                  <g #chartsection ion-v1-section flex="3" name="data-chart-column">
                    <g ion-v1-grid axis="x" [stroke]="gridColor" [tickValues]="gridValues2" name="scale-grids" />
                    <g ion-v1-bar [scalefactor]="scalefactor" barHeight="8" paddingOuter="0.5" paddingInner="0.72" [colors]="leftChartColors"
                      (handleClick)="rowHandleClick($event)" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="legends my-5">
              <ion-legend [title]="titles[i]" [outline]="false" [color]="color" class="mr-4" *ngFor="let color of leftChartColors; let i = index">
              </ion-legend>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="overlay-title">Share of Innovation Compared to Share of Market</h5>
          <div *ngIf="shareOfInnovationComparedToShareOfMarket.data && shareOfInnovationComparedToShareOfMarket.data.length > 0">
            <div ion-v1-responsive class="share-of-innovation">
              <svg ion-v1-xyplot [dataset]="shareOfInnovationComparedToShareOfMarket.data" key="chipIndex" name="graph-container">
                <g ion-v1-row [fixedHeight]="70" [background]="rowColor" paddingInner="0.09" (handleClick)="rowHandleClick($event)">
                  <g ion-v1-section flex="1" paddingHorizontal="15" name="data-legend-column">
                    <g ion-v1-rowlegend paddingLeft="12" paddingInner="0.75" (handleClick)="rowHandleClick($event)">
                      <g ion-v1-hint placement="bottom" [maxWidth]="300"></g>
                    </g>
                  </g>
                  <g ion-v1-section flex="3" name="data-chart-column">
                    <g ion-v1-bar-negative paddingOuter="1" paddingInner="0.72" barHeight="8" [colors]="rightChartColors" [haveTextBackground]="false"
                      (handleClick)="rowHandleClick($event)" />
                    <g ion-v1-grid axis="x" [stroke]="gridColor" [tickValues]="gridValues" name="scale-grids" />
                    <g ion-v1-grid axis="x" [stroke]="centerAxisColor" [tickValues]="gridValues1" name="center-grid" />
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>

      </div>
    </div> -->

    <div *ionViewResolved>
      <div class="row">
        <div class="col-md-6">
          <h5 class="overlay-title">Market Share and Innovation Share</h5>
          <div *ngIf="marketShareAndInnovationShare.data && marketShareAndInnovationShare.data.length > 0">
            <div ion-responsive class="market-share">
              <ion-xyplot responsive>
                <ion-row [fixedRowHeight]="marketShareConfig.fixedRowHeight" (clickEvent)="rowHandleClick($event)">
                  <ng-container *ngFor="let data of marketShareAndInnovationShare.data; let index = index;">
                    <ion-section [sectionData]="data" [disabled]="data.isClickable">
                      <ion-section [border]="marketShareConfig.borderRight" [flex]="0.7">
                        <ion-row-text ion-hint placement="bottom" [maxWidth]="marketShareConfig.toolTipWidth" [content]="data.title" [extra]="[data.subtitle]"
                          textWraptype="twoLine" [textOpacity]="!(data.value.length>0)" [legendTooltip]="data.legendTooltip"
                          [wrapLegendWithHint]="data.wrapLegendWithHint">
                        </ion-row-text>
                      </ion-section>
                      <ion-section [flex]="2">
                        <ion-bar [colors]="leftChartColors" [fixedbarHeight]="marketShareConfig.fixedbarHeight" [value]="data.value" [display]="data.display?data.display:[]"
                          [textRightPadding]="marketShareConfig.textRightPadding"></ion-bar>
                        <ion-xyaxes [tickValues]="gridValues2" [stroke]="marketShareConfig.xaxisStroke"></ion-xyaxes>
                      </ion-section>
                    </ion-section>
                  </ng-container>
                </ion-row>
              </ion-xyplot>
            </div>
            <div class="legends my-5">
              <ion-legend [title]="titles[i]" [outline]="false" [color]="color" class="mr-4" *ngFor="let color of leftChartColors; let i = index">
              </ion-legend>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h5 class="overlay-title">Share of Innovation Compared to Share of Market</h5>
          <div *ngIf="shareOfInnovationComparedToShareOfMarket.data && shareOfInnovationComparedToShareOfMarket.data.length > 0">
            <div ion-responsive class="share-of-innovation">
              <ion-xyplot responsive>
                <ion-row [fixedRowHeight]="shareOfInnoConig.fixedRowHeight" (clickEvent)="rowHandleClick($event)">
                  <ng-container *ngFor="let data of shareOfInnovationComparedToShareOfMarket.data; let index = index;">
                    <ion-section [sectionData]="data" [disabled]="data.isClickable">
                      <ion-section [border]="shareOfInnoConig.borderRight" [flex]="0.7">
                        <ion-row-text ion-hint placement="bottom" [maxWidth]="shareOfInnoConig.toolTipWidth" [content]="data.title" [extra]="[data.subtitle]"
                          textWraptype="twoLine" [textOpacity]="!(data.value.length>0)" [legendTooltip]="data.legendTooltip"
                          [wrapLegendWithHint]="data.wrapLegendWithHint"></ion-row-text>
                      </ion-section>
                      <ion-section [flex]="2">
                        <ion-bar-negative [colors]="rightChartColors" [fixedbarHeight]="shareOfInnoConig.fixedbarHeight" [value]="data.value" [display]="data.display?data.display:[]"></ion-bar-negative>
                        <ion-xyaxes [tickValues]="gridValues1"></ion-xyaxes>
                        <ion-xyaxes [tickValues]="gridValues" [stroke]="shareOfInnoConig.xaxisStroke"></ion-xyaxes>
                      </ion-section>
                    </ion-section>
                  </ng-container>
                </ion-row>
              </ion-xyplot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>