@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.legends {
  display: inline-flex;
}

.sictsm {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay-title {
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  color: $nielsen-gray-900;
  margin-top: 1px;
}
