<div class="container-fluid">
  <div [ionViewSwitch]="dataState">
    <div class="spinner-container" *ionViewResolving>
      <nd-spinner-lite active></nd-spinner-lite>
    </div>
    <div *ionViewEmpty>
      <ion-error [errorMessage]="itemDetailsEmptyMessage"></ion-error>
    </div>
    <ion-error *ionViewError [errorCode]="errorCode"></ion-error>
    <div *ionViewResolved>
      <div class="item-name my-4">
        <div class="overlay-title mt-0 mb-3">{{item.name}}</div>
        <p class="category-text mt-0 mb-1">{{itemInnovationDetails.category | titlecase}} in {{itemInnovationDetails.country | titlecase}}
        </p>
        <p class="category-text mt-0">{{itemInnovationDetails.extrnCodeType | uppercase}} #{{itemInnovationDetails.extrnCode}}
        </p>
      </div>
      <ion-item-pictures [nanKey]="currentNanKey" [country]="country"></ion-item-pictures>
      <div class="mt-3" [attr.innovation-type]="itemInnovationDetails.innovationType">
        <h4 class="item-heading mb-0">{{itemInnovationDetails.innovationType | titlecase}}</h4>
        <p *ngIf="itemInnovationDetails.innovationType === 'LINE EXTENSION' ||
                  itemInnovationDetails.innovationType === 'MINOR CHANGE OFFERING'" class="item-value mt-1">
          <span *ngIf="innovationSubTypes !== 'Novel Combination'">New</span> {{innovationSubTypes | titlecase}}
        </p>
      </div>

      <div class="mt-4" [attr.section-type]="'first-appeared'">
        <div class="item-heading mb-0">First Appeared in Nielsen Channels</div>
        <p class="item-value mt-1">{{itemInnovationDetails.itemAppearanceDate | ordinalDate}}</p>
      </div>
      <div class="subtype-chars px-5 py-4 mt-6">
        <div class="mt-2 overlay-title mb-3">What's New?</div>

        <div *ngFor="let item of subTypeDrivingChars">
          <div class="item-heading mb-0">{{item.subType | titlecase}}</div>
          <p *ngFor="let drivingChar of item.drivingChars" class="item-value mt-1 mb-2">
            <span class="mr-1">{{drivingChar.value | titlecase}}</span>
            <ion-badge *ngIf="drivingChar.innovationClass" [label]="drivingChar.innovationLevel | titlecase" [variant]="drivingChar.innovationClass"></ion-badge>
          </p>
        </div>

        <p *ngIf="subTypeClassification" class="subtype-classification">
          {{subTypeClassification}}
        </p>
      </div>
      <div [ionViewSwitch]="charState">
          <div class="spinner-container" *ionViewResolving>
              <nd-spinner-lite active></nd-spinner-lite>
            </div>
        <ion-error *ionViewError [errorCode]="errorCodeChar"></ion-error>
        <div *ionViewEmpty>
          <ion-error [errorMessage]="charErrorMessage"></ion-error>
        </div>
        <div *ionViewResolved>
          <div *ngIf="charDetails.length > 0">
            <div class="chars-container mb-5 mt-4 c-pointer" (click)="hideCharacteristics = !hideCharacteristics">
              <a *ngIf="hideCharacteristics">VIEW ALL CHARACTERISTICS</a>
              <a *ngIf="!hideCharacteristics">CLOSE CHARACTERISTICS</a>
            </div>
            <div *ngIf="!hideCharacteristics">
              <div *ngFor="let domain of charDetails" [attr.segment-type]="domain.domain">
                <div class="item-characteristics-header mb-1" (click)="domain.expanded = !domain.expanded">
                  <span [hidden]="!domain.expanded" class="mr-2 c-pointer">
                    <nd-icon icon="nlsn:tree_close"></nd-icon>
                  </span>
                  <span [hidden]="domain.expanded" class="mr-2 c-pointer">
                    <nd-icon icon="nlsn:tree_open"></nd-icon>
                  </span>
                  <div class="domain-name c-pointer">{{domain.domain | titlecase}}</div>
                </div>
                <div class="item-category" *ngIf="!domain.expanded">
                  <div *ngFor="let char of domain.chars">
                    <p class="item-heading ml-6 mb-0">{{char["CHAR DESCRIPTION NDX 40 MAX"] | titlecase}}</p>
                    <p class="item-value ml-6 mt-0">{{char["CHARVAL DESCRIPTION"] | titlecase}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>
</div>
