<div class="flex-grid">
  <div class="row item-row item-header mx-0">
    <div class="col-5 item-cell left-align p-3 c-pointer" (click)="sortList('name','string',0)">
      <span>{{filteredItems.length}} {{ filteredItems.length > 1 ? 'Items' : 'Item' }}
      </span>

      <span class="sort" [ngClass]="{'active': sortBy === 'name'}">
        <nd-icon icon="icons:arrow-{{sortStatus[0]}}"></nd-icon>
      </span>
      <!-- <span class="filter-icon" (click)="invokeFilter($event,'name')">
          <nd-icon [attr.icon]="gridFilter.models['name'].filtered?'nlsn:filter_fill':'nlsn:filter'" [ngClass]="{'filtered': gridFilter.models['name'].filtered || activeFilter == 'name'}">
          </nd-icon>
        </span> -->
      <!-- <ion-filter [data]="gridFilter.models['name']" (change)="applyFilter($event,'name')" *ngIf="activeFilter === 'name'" (click)="$event.stopPropagation()"></ion-filter> -->
    </div>

    <div class="col-2 item-cell left-align p-3 c-pointer" (click)="sortList('type','string',1)">
      <span (click)="sortList('type', 'string', 1)">Type</span>

      <span class="sort" [ngClass]="{'active': sortBy ==='type'}">
        <nd-icon icon="icons:arrow-{{sortStatus[1]}}"></nd-icon>
      </span>
      <!-- <span class="filter-icon" (click)="invokeFilter($event,'type')">
          <nd-icon [attr.icon]="gridFilter.models['type'].filtered?'nlsn:filter_fill':'nlsn:filter'" [ngClass]="{'filtered':gridFilter.models['type'].filtered || activeFilter == 'type'}"></nd-icon>
        </span> -->
      <!-- <ion-filter [data]="gridFilter.models['type']" (change)="applyFilter($event,'type')" *ngIf="activeFilter === 'type'" (click)="$event.stopPropagation()"></ion-filter> -->
    </div>

    <div class="col-2 item-cell left-align p-3 c-pointer" (click)="sortList('oneAcvDate', 'date', 2)">
      <span>Start Date</span>

      <span class="sort" [ngClass]="{'active': sortBy ==='oneAcvDate'}">
        <nd-icon icon="icons:arrow-{{sortStatus[2]}}"></nd-icon>
      </span>
      <!-- <span class="filter-icon" (click)="invokeFilter($event,'oneAcvDate')">
          <nd-icon [attr.icon]="gridFilter.models['oneAcvDate'].filtered?'nlsn:filter_fill':'nlsn:filter'" [ngClass]="{'filtered':gridFilter.models['oneAcvDate'].filtered || activeFilter == 'oneAcvDate'}"></nd-icon>
        </span> -->
      <!-- <ion-filter [data]="gridFilter.models['oneAcvDate']" (change)="applyFilter($event,'name')" *ngIf="activeFilter === 'oneAcvDate'"
        (click)="$event.stopPropagation()"></ion-filter> -->
    </div>

    <div class="col-3 item-cell p-3 c-pointer " (click)="sortList('innovationSales','number',3)">
      <span class="sort" [ngClass]="{'active': sortBy === 'innovationSales'}">
        <nd-icon icon="icons:arrow-{{sortStatus[3]}}"></nd-icon>
      </span>
      <span>Innovation Sales</span>
      <!-- <span class="sort small" [ngClass]="{'active': sortBy === 'innovationSales'}" (click)="sortList('innovationSales','number',3)">
          <nd-icon icon="icons:arrow-{{sortStatus[3]}}"></nd-icon>
        </span> -->
      <!-- <span class="filter-icon" (click)="invokeFilter($event,'innovationSales')">
          <nd-icon [attr.icon]="gridFilter.models['innovationSales'].filtered?'nlsn:filter_fill':'nlsn:filter'" [ngClass]="{'filtered':gridFilter.models['innovationSales'].filtered || activeFilter == 'innovationSales'}"></nd-icon>
        </span> -->
      <!-- <ion-filter [data]="gridFilter.models['innovationSales']" (change)="applyFilter($event,'name')" *ngIf="activeFilter === 'innovationSales'"
        (click)="$event.stopPropagation()"></ion-filter> -->
    </div>

  </div>
  <div class="item-data">
    <div class="row item-row mx-0 c-pointer" *ngFor="let item of filteredItems" (click)="onItemSelection(item)" [ngClass]="{'active': selectedItem === item}">
      <div class="col-5 item-cell ellipsis p-3" [attr.name]="item.name">
        <span>{{ item.name }}</span>
      </div>
      <div [attr.type]="item.type" class="col-2 item-cell p-3 item-type ellipsis" [ngClass]="{'short-list': selectedItem}">
        <span class="full">{{ item.type | titlecase}}</span>
        <span class="short">{{ item.typeShortName | titlecase}}</span>
      </div>
      <div class="col-2 item-cell p-3" [attr.AcvDate]="item.oneAcvDate">{{ item.oneAcvDate ? formatDate(item.oneAcvDate) : 'N/A' }}</div>
      <div class="col-3 item-cell p-3" [attr.innovationSales]="item.innovationSales">{{ ((this.factType === 'Value Sales') ? currencyNametoSymbol[this.currency] : '') + item.innovationSales }}</div>
    </div>
  </div>
</div>