@import "../../../../styles/breakpoints";
@import "../../../../styles/tables";

.right-align{
  text-align: right;
}
.sort {
  display: none;
  &.active{
    background: none;
  }
}
.item-cell:last-child{
  display: flex;
  justify-content: flex-end;
}
@include media-breakpoint-up(lg){
  .right-align{
    .filter-icon{
      float: left;   
    }
  }
  .left-align{
    .filter-icon{
      float: right;
    }
  }
  .filter-icon{
    visibility: hidden;
  }
  .filtered {
    visibility: visible;
  }

  .sort.active{
    display: inline; 
  }
  .item-header{
    .item-cell{
      &:hover .sort {
        display: inline;
      }
    }
  } 

}

// icon should be displayed on new line
@include media-breakpoint-between(xs, md){
  .filter-icon{
    float: none;
    display: table-cell;
  }
  .sort.active{
    display: flex;
  }
  .filtered {
    display: table-cell;
  }
  .large{
    display: none !important;
  }
  .item-cell:last-child{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
ion-filter{
  position: relative;
}
nd-icon{
  border-radius: map-get($map: $spacers, $key: 1);
}

.item-name {
  width: 100%;
}
.item-type {
  width: 20%;
  .full {
    display: block;
  }
  .short {
    display: none;
  }

  &.short-list {
    .full {
      display: none;
    }
    .short {
      display: block;
    }
  }
}

@include media-breakpoint-down(md){
  .item-type {
    .full {
      display: none;
    }
    .short {
      display: block;
    }
  }
}
.active {
  background: $nielsen-gray-200;
}
table{
  td:not(:last-child), th:not(:last-child){
    border-right: 1px solid $nielsen-gray-300;
  }
  th span{
    cursor: pointer;
  }
}
.flex-grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-width: 600px;
}
.item-row{
  display: flex;
  border-bottom: 1px solid $nielsen-gray-300;
}
.item-header{
  font-size: 13px;
  color: $nielsen-gray-900;
  font-weight: $font-weight-bold;
}
.item-cell:not(:last-child) {
  border-right: 1px solid $nielsen-gray-300;
}
.item-data{
  .item-row:hover{
    background-color: $nielsen-blue-50; 
  }
}
