<nd-toast error duration="-1" position="static" [attr.text]="errorMessage" *ngIf="!emptyError;else emptyMessage">
  <nd-button-toggle-group *ngIf="actions.length > 0">
    <nd-button *ngFor="let actionButton of actions" small flat (click)="onActionClicked(actionButton)">{{actionButton}}</nd-button>
  </nd-button-toggle-group>
</nd-toast>
<ng-template #emptyMessage>
  <nd-toast info duration="-1" position="static" [attr.text]="errorMessage">
    <nd-button-toggle-group *ngIf="actions.length > 0">
      <nd-button *ngFor="let actionButton of actions" small flat (click)="onActionClicked(actionButton)">{{actionButton}}</nd-button>
    </nd-button-toggle-group>
  </nd-toast>
</ng-template>
