<div class="spinner-container">
    <ion-help-message [icon]="icon" [primaryMessage]="actionTitle">
        <div class="message mt-lg-5 mb-lg-7" spinner-message>
            <p class="m-0">If you would like to do more refinements to your data</p>
            <p class="m-0">
                later,select the &quot;
                <nd-icon icon="nlsn:edit_fill"></nd-icon> &quot; 
                icon once this is finished
            </p>
        </div>

    </ion-help-message>
    <nd-spinner-lite active></nd-spinner-lite>
</div>